.admin-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 2rem;
    height: 100vh;
    position: fixed;
}

.transaction-product-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.transaction-product-card>img {
    height: 4rem;
    width: 4rem;
    object-fit: cover;
    border-radius: 5px;
}

.transaction-product-card>span {

    margin-left: auto;
}



.product-management {
    display: flex;
    flex-direction: row;
    margin: auto;
    height: 83vh;
    padding: 2rem;
    width: 100%;
    position: relative;
    top: -4rem;
    left: 15rem;

}

section {

    overflow-y: auto;
    width: 100%;
    height: 85vh;
    max-width: 400px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.216);
    background-color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    border-radius: 5px;
}


article {
    margin: auto;
    height: 85vh;
    padding: 1rem;
    width: 100%;
    max-width: 400px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.216);

}

form {
    display: flex;
    flex-direction: column;
    justify-content: unset;
    align-items: center;
    gap: 1rem;
}

h2,
h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 0px 10px 0px;
    font-weight: 800;
}

h5 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    padding: 10px 2px 10px 2px;

}

article>p {
    letter-spacing: 0.5px;

    padding: 5px 2px 5px 2px;

}

.small-img {
    height: 5rem;
    width: 5rem;
    object-fit: cover;
    border-radius: 5px;
}

.big-img {
    height: 30rem;
    width: 40rem;
    object-fit: cover;
    border-radius: 5px;
}

.form-input {
    width: 100%;
    position: relative;
}

label {
    font-weight: 800;
}

input {
    border-radius: 5px;
    padding: 0.5rem;
    border: 1px solid black;
    width: 100%;


}

.stock-span {
    position: absolute;
    right: 1rem;
    top: 2rem;
    font-weight: 500;
}

.update {
    margin-top: 2rem;
    padding: 1rem;
    border: none;
    background-color: rgba(5, 187, 224);
    color: white;
    width: 100%;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
}

.transection-delete-btn {
    position: absolute;
    left: 43rem;
}

.transection-delete-btn:hover {
    color: red;
}

@media screen and (max-width: 1200px) {
    .admin-container {
        overflow: auto;
    }

    .dashboard .widget-container,
    .dashboard .graph-container,
    .dashboard .transaction-container {
        justify-content: center;
        flex-wrap: wrap;
    }

    .dashboard .graph-container {
        padding: 2rem;
    }

    .dashboard .transaction-container {
        padding: 2rem;
        height: unset;
    }

    .product-management {
        padding: 2rem;
    }
}

@media screen and (max-width: 1100px) {
    .admin-container {
        grid-template-columns: 1fr !important;
    }
}

@media screen and (max-width: 600px) {
    .product-management {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .product-management>section {
        max-width: 400px;
    }

    .chart-container {
        padding: 0;
    }

    .chart-container>h1 {
        margin: 0;
        text-align: center;
    }

    .chart-container>section {
        margin: 8rem auto;
    }

    .dashboard-app-container>section .coupon-form,
    .dashboard-app-container>section .stopwatch {
        display: flex;
        flex-direction: column;
    }

    .dashboard-app-container>section .stopwatch {
        align-items: center;
    }
}